<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRLGSdNribbY1VJT9oxc7t4vM3wG0O5Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>766301000676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elwarsha.elWarsha</string>
	<key>PROJECT_ID</key>
	<string>al-wershah</string>
	<key>STORAGE_BUCKET</key>
	<string>al-wershah.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766301000676:ios:8dc1d1fb07ec72b0f8edf1</string>
</dict>
</plist>